<div class="container-fluid flightsite" style="background-image: url('assets/flight3.jpg');">
  <div class="row">
    <div class="col-2">
      <div class="flight-details">
        <h5>IATA Code</h5>
        <p>IB - Iberia - 10</p>
        <p>BA - British Airways - 15</p>
        <p>LH - Lufthansa - 7</p>
        <p>FR - Ryanair - 20</p>
        <p>VY - Vueling - 10</p>
        <p>TK - Turkish Airlines - 5</p>
        <p>U2 - Easyjet - 19.9</p>
      </div>
    </div>
    <div class="col-8">
      <router-outlet></router-outlet>
    </div>
    <div class="col-2">
      <div class="city-details">
        <h5>IATA Code City</h5>
        <p>MAD - Madrid</p>
        <p>BCN - Barcelona</p>
        <p>LHR - London</p>
        <p>CDG - Paris</p>
        <p>FRA - Frankfurt</p>
        <p>IST - Istanbul</p>
        <p>AMS - Amsterdam</p>
        <p>FCO - Rome</p>
        <p>CPH - Copenhagen</p>
      </div>
    </div>
  </div>
</div>
